body {
	font-family: 'Notable', sans-serif;
	background-color: #f5f5f5;
}
#header-nav {
	background-color: #33363b;
	border-radius: 0;
	border: 0;
}
.navbar-header a h1 {
	color: #f5f5f5;
	font-size: 2.5em;
	text-shadow: 1px 1px 1px #222;
}
.navbar-header p span {
	color: #f5f5f5;
	font-size: 1.5em;
	padding-left: 20px;
}
.navbar-header a:hover {
	text-decoration: none;
}
#nav-list a {
	color: #f5f5f5;
	margin-top: 35px;
	text-align: center;
}
#nav-list a span {
	font-size: 1.5em;
}
#nav-list a:hover {
	background-color: #000000;
}
.navbar-default .navbar-nav > .active > a {
	background-color: #000000;
}
.container .jumbotron {
}
#about p {
	font-family: 'Bangers', cursive;
}
#contact-details {
	background-color: #f3ca20;
}
#contact-details ul {
	font-family: 'Londrina Solid', cursive;
	padding-top: 20px;
	list-style-type: none;
}
#contact-details ul li span {
	font-size: 1.5em;
	padding-right: 25px;
}
.row div {
	padding: 0;
	border: 1px solid black;
}
/* Media */

.icon {
  position: fixed;
  top: 40%;
  transform: translateY(-50%);
}

.icon a {
  display: block;
  text-align: center;
  padding: 5px 10px 5px;
  transition: all 1s ease;
  color: #f5f5f5;
  font-size: 25px;
}

.icon a:hover {
  background-color: #000;
}
.instagram:hover {
  background-image: linear-gradient(to right,black 0%,black 100%),url('w3css.gif');
  background-blend-mode: normal;
}

.facebook {
  background: #3B5998;
}

.instagram {
  background-image: linear-gradient(to top right,#ffdc80 0%,#fcaf45 10%,#f77737 20%,#f56040 30%,#fd1d1d 40%,#e1306c 50%,#c13584 60%,#833ab4 70%,#5851db 80%,#405de6 100%),url('w3css.gif');
  background-blend-mode: normal;
}

.google {
  background: #1a0dab;
}

.whatsapp {
  background: #4FCE5D;
}

.youtube {
  background: #bb0000;
}

/*End Media */
@media (max-width: 767px) {
	.navbar-header a h1 {
		padding-left: 10px;
		font-size: 5vw;
	}
	.navbar-header p span {
		font-size: 4vw;
	}
	#nav-list a {
		margin-top: 0;
		margin-bottom: 0;
	}
	#call-btn > a {
    	font-size: 1.5em;
    	display: block;
    	margin: 0 20px;
    	padding: 10px;
    	border: 2px solid #fff;
    	background-color: #33363b;
    	color: #f5f5f5;
  	}
  	#call-btn > a:hover {
  		background-color: #000000;
  	}
  	.icon a {
		padding: 3px 6px 3px;
		font-size: 12px;
	}
}

